body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #f4f6f8;
	color: #333;
}
h4 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: rgba(6, 6, 6, 0.915);
	margin-top: -20px;
}

header {
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-size: 35px;
	background-color: #225fb3;
	color: rgba(6, 6, 6, 0.915);
	padding: 10px;
	text-align: center;
}

section {
	padding: 40px;
	text-align: center;
}

button {
	background-color: #1f4f9c;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0f2f5c;
}
