<header>
	<nav class="nav">
		<div class="hamburger" id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>

		<ul class="dropdown-menu" id="menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">Expertise</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>

	<div class="header-content">
		<img src="photos/Security-Associates-Icon-noBG.png" class="header-logo" />
		<h1>Security Associates, Inc.</h1>
		<img src="photos/Security-Associates-Icon-noBG.png" class="header-logo" />
	</div>

	<h4>Security Expert Witness – Negligent Security & Premises Liability</h4>

	<script src="script.js"></script>
</header>
